extends layout

block content
  div(ng-controller='TodoCtrl')
    h1 List for you to do ({{remaining()}})
    .todo(ng-repeat='todo in todos')
      input(type='checkbox', ng-model='todo.completed', ng-change="editTodo($index)")
      span {{todo.title}}

    form#addTodo(ng-submit='createTodo()')
      input(type='text', ng-model='todoTitle', size='30', placeholder='Create your new TODO')
      input(type='submit', value='Create')

block scripts
  script.
    window.initialTodos = JSON.parse('!{todos}')