doctype 5
html(ng-app)
  head
    title Todo app
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/lib/angular-1.0.7.js')
    script(src='/js/lib/angular-resources-1.0.7.js')
    script(src='/js/todo.js')
    block scripts
  body
    block content